.main_div {
    display: flex;
    justify-content: center;
    margin-top: 9em;
  }
  .main_card {
    padding: 5px;
    height: 40px;
    width: 28em;
  }
  .Card {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    padding-bottom: 10px;
  }
  .icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
   
  }
  .Inpute{
    /* display: flex; */
    padding-bottom: 9px;
    padding-left: 3px;
  }
  .iconChanges{
    /* display: flex; */
    padding-left:49px ; 
    padding-top: -15px;
  }


  /* notedisplay */

  .title-1{
    display: flex;

  }
  .pinicon{
      padding-left: 195px;
  }
  .main_card1 {
    padding: 4px;
    /* padding-top: 10px; */
    height: 170px;
    width: 30em;
  }
  .notificationrow{
    display: flex;
    
    justify-content: space-between;

  }

  /* dispaycard */

  .main_card11{
    margin-top: 2.5em;
    margin-left: 10em;
    /* justify-content:space-evenly */
    

  }
  .main_card12{
    width: 15em;
    height: 7.5em;
    justify-content: space-around;
    padding:5px;
    margin:2%
  }
  .fist_row_card{
    display: flex;
    padding-left:11px ;
    
  }
  .second_row_card{
    padding-left:11px ;
  }
  .finalrow_card{
    display: flex;
    justify-content: space-between;
  }
  .icon_1st_row{
    padding-left: 6.5em;
  }
  /* .title_space{
    padding-top: 10px;
  } */
.getNotesContainer{
  padding-top: 9px;
  display:flex;
  flex-wrap: wrap;
  
}

/* DilogBox_Css */

.dilogBox_fistrow{
  display: flex;
  /* height: 30%;
  width: 70%; */
}

.dilogBox_third_row{
  display: flex;
}

.dilog_card{
  width: 100%;
  height: 90%;
}
.Menu{
  padding-right: 70m;
}
.colour_row{
  display: flex;
  
}