.main_div {
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }
  .main_card {
    padding: 5px;
    height: 40px;
    width: 28em;
  }
  .Card {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    padding-bottom: 10px;
  }
  .icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
   
  }
  .Inpute{
    /* display: flex; */
    padding-bottom: 9px;
    padding-left: 3px;
  }
  .iconChanges{
    /* display: flex; */
    padding-left:49px ; 
    padding-top: -15px;
  }


  /* notedisplay */

  .title-1{
    display: flex;

  }
  .pinicon{
      padding-left: 195px;
  }
  .main_card1 {
    padding: 4px;
    /* padding-top: 10px; */
    height: 170px;
    width: 30em;
  }
  .notificationrow{
    display: flex;
    
    justify-content: space-between;

  }

  /* dispaycard */

  .main_card11{
    margin-top: 2.5em;
    margin-left: 10em;
    /* justify-content:space-evenly */
    

  }

  /* .Pinicon{
    padding-left: 90%;
  } */
  .main_card12{
    width: 15em;
    height: 7.5em;
    justify-content: space-around;
    padding:5px;
    margin:2%
  }
  .fist_row_card{
    display: flex;
    padding-left:11px ;
    
  }
  .closeIcon1111{
    padding-right: 18%;
    padding-top: 1%;
  }
  .second_row_card{
    padding-left:11px ;
    
  }
  .finalrow_card{
    display: flex;
    justify-content: space-between;
    padding-right: 7%;
  }
  .icon_1st_row{
    padding-left: 0.5em;
  }
  /* .title_space{
    padding-top: 10px;
  } */
.getNotesContainer{
  padding-top: 9px;
  display:flex;
  flex-wrap: wrap;
  /* padding-left: 15%; */
}
.pinIconDilogBox{
  padding-left: 32%;
}
.noteSize{
  padding-left:18%;
}
.DilogCard{
  padding: 5%;
}
.textfield{
  padding-right: 15%;
}

/* DilogBox_Css */

.dilogBox_fistrow{
  display: flex;
  /* height: 30%;
  width: 70%; */
}
.title_text{

}

.dilogBox_third_row{
  display: flex;
  padding-right: 17%;
}
.fullRow{
  display: flex
  ;
}
/* .closeicon{
  padding-right: 13%;
  padding-top: 1%;
} */

.dilog_card{
  width: 100%;
  height: 90%;
}

.close{
  width:2%
}
.Menu{
  padding-right: 70m;
}
.colour_row{
  display: flex;
  /* height: 50%; */
  /* width: 50%; */
  /* flex-wrap: wrap; */
  /* margin-top: 3%; */
  flex-wrap: wrap;
  /* margin-left: 38%; */
  /* padding-left: 40%; */
  
  
}
.ColourBox{
   /* width:15%;
  height:40%; */
  
  margin-top: 13%;
  margin-left: 40%
  /* padding-left: %; */
  /* display: flex; */
}
.Menu_{
  margin-left: 47%;
 
}
.colour_row1{
  
  display: flex;
}

                                  /* PinNotes */

  .pinname{
    padding-top:2%;
   color: dimgrey; 
   font-size: 2;
  }  
  
  
  /* Collaboratore */

  .Collaboratore{
    width: 100%;
    height: 20%;
  }
 