
.login{
    margin:auto;
    margin-top: 70px;
    width: 30%;
    
    border: 3px solid lightgray;
    padding: 10px;

}
.login-h1{
    margin-top: o;
    font-weight:500;
    width:80%;
   color:cadetblue;
     text-align:center; 
     padding-left:30px; 
     font-style: initial;
    /* border:3px red solid; */
}
.login-email{
    padding: 10px;
    padding-top: 0%;
    padding-left: 36px;
}
.login-password{
    padding: 10px;
    padding-left: 36px;
}
.h4{
    padding-bottom: 0%;
    font-style: italic;
    font-weight: 100;
    text-decoration: none;
}
.login-buttton{
    padding-left:120px;
    padding-right: 100px;
    
    color: wheat;
    width:30%;
}
.login-forgot-password{
    padding-left:1px 
}
button:hover{
    color: crimson;
}
/* .login{
    background-image: url("https://images.unsplash.com/photo-1541233349642-6e425fe6190e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
} */
.Register{
    margin:auto;
    width: 30%;
    border: 3px solid lightgray;
    padding-bottom: 5px;

}
.Register-name{
    padding-left: 35px;
    padding-bottom: 10px;
}
.Register-secondname{
    padding-left: 35px;
    padding-bottom: 10px;
}
.Register-email{
    padding-left: 35px;
    padding-bottom: 10px;

}
.Register-mobileno{
    padding-left: 35px;
    padding-bottom: 10px;
}
.Register-password{
    padding-left: 35px;
    padding-bottom: 10px;
}
.Register-passwordagain{
    padding-left: 35px;
    padding-bottom: 10px;
}
.Register-button{
    padding-left: 120px;
    padding-bottom: 1px;
    padding-top: 10px;

}
.Register h1{
    color:cadetblue;
   
   word-spacing: 100px;
    width: 250px;
    padding-left: 30px;
    font-size: 30px;
    text-align: center;
    font-style: initial;
    
}
.Regis{
    margin-top: 0;
}
.link{
    padding-left: 60px;
}


                              /* forgot password */


.forgot{
    margin:auto;
    margin-top: 70px;
    width: 30%;
    
    border: 3px solid lightgray;
    padding: 10px; 
}
.forgot-email{
   
   
    padding-left: 35px;
}
.forgot-button{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 123px;
}
.name{
    text-align: center;
    width: auto;
    word-spacing: 10px;
    font-style: initial;
    color:cadetblue;
}
                /* ResetPassword */

.Reset{
    margin:auto;
    margin-top: 70px;
    width: 30%;
    
    border: 3px solid lightgray;
    padding: 10px;
}    
.ResetPassword{
    padding-bottom: 20px;
    padding-left: 35px;
    
} 
.ResetPassword-button{
    padding-top:20px;
    padding-left: 80px;
}      
.topic{
    font-style: initial;
    word-spacing: 10px;
    color:cadetblue;
    padding-left: 60px;
}   

.searchbar{
    margin-left: 30%;
    
    
}
 
#brand-image{
    width: 40px;
    height: 45px;

}

/* splitbutton */

#container {
    visibility: hidden;
}

#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

.e-btn-icon.e-image {
    background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3AWindows_Settings_app_icon.png&psig=AOvVaw0FS0KxNF1ocGoon204-dG8&ust=1581058255507000&source=images&cd=vfe&ved=2ahUKEwjN5-OOq7znAhXd6jgGHWChAaMQr4kDegUIARDpAQ) -384px -48px;
    width: 32px;
    height: 32px;
}

button {
  margin: 25px 5px 20px 20px;
}

